<pre class="project-item">
  <a href="{{ project.url | relative_url }}">

    {% if project.image %}
    <div class="project-media">
      <img
        src="{{ project.image.path | relative_url }}"
        {% if project.image.srcset %}
        srcset="
          {% for size in project.image.srcset %}
            {{ size[1] | relative_url }} {{ size[0] }},
          {% endfor %}
        "
        {% endif %}
        sizes="(max-width: 700px) 100vw, 33vw"
        alt="{{ project.title }}"
        loading="lazy"
      />
    </div>
    {% endif %}

    <div class="project-content">
      <strong>{{ project.title }}</strong>

      {% if project.description %}
        <span class="project-desc">
          {{ project.description | strip_html }}
        </span>
      {% endif %}
    </div>

  </a>
</pre>
